{% extends "base.html" %}
{% from "utils.html" import flash_message %}
{% from "utils.html" import render_field %}

{% block title %}
{% if class_info is defined and class_info is not none %}
国子监-编辑课程
{% else %}
国子监-添加课程
{% endif %}
{% endblock %}

{% block styles %}
{{ super() }}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-select/css/bootstrap-select.min.css')}}">
<link rel="stylesheet"
      href="{{url_for('static', filename='vendor/bootstrap-timepicker/css/bootstrap-timepicker.min.css')}}">
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-lg-10">
        <h1 class="page-header">
            {% if class_info is defined and class_info is not none %}
            修改课程信息
            {% else %}
            填写课程信息
            {% endif %}
        </h1>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            {{ flash_message() }}
            <div class="panel-body">
                <form role="form" method="post"
                      {% if class_info is defined and class_info is not none %}
                      action="{{ url_for('change_class', class_id=class_id) }}"
                      {% else %}
                      action="{{ url_for('new_class') }}"
                      {% endif %}
                      id="form">
                    {% if class_info is defined and class_info is not none %}
                    <input type="hidden" name="_method" value="PUT"/>
                    <input type="hidden" name="_class" value="{{ class_info.class_id }}"/>
                    {% endif %}
                    <fieldset>
                        {{ render_field(form.name) }}
                        <div class="form-group">
                            {% if class_info is defined and class_info is not none %}
                            {{ form.name(class_="form-control",
                            value=class_info.name|safe,
                            autofocus=true, required=true) }}
                            {% else %}
                            {{ form.name(class_="form-control",
                            placeholder="数学课",
                            autofocus=true, required=true) }}
                            {% endif %}
                        </div>
                        {{ render_field(form.begin) }}
                        <div class="form-group">
                            <div class="input-group bootstrap-timepicker timepicker">
                                {% if class_info is defined and class_info is not none %}
                                {{ form.begin(class_="form-control input-small", id="begin",
                                value=class_info.begin|safe, autofocus=true, required=true) }}
                                {% else %}
                                {{ form.begin(class_="form-control input-small",id="begin", placeholder="00:00",
                                autofocus=true, required=true) }}
                                {% endif %}
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                        </div>
                        {{ render_field(form.end) }}
                        <div class="form-group">
                            <div class="input-group bootstrap-timepicker timepicker">
                                {% if class_info is defined and class_info is not none %}
                                {{ form.end(class_="form-control input-small", id="end",
                                value=class_info.end|safe, autofocus=true, required=true) }}
                                {% else %}
                                {{ form.end(class_="form-control input-small",id="end", placeholder="00:00",
                                autofocus=true, required=true) }}
                                {% endif %}
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                        </div>
                        {{ render_field(form.days_of_week) }}
                        <div class="form-group">
                            {% if class_info is defined and class_info is not none %}
                            {{ form.days_of_week(class_="form-control selectpicker", id="picker",autofocus=true,
                            required=true) }}
                            {% else %}
                            {{ form.days_of_week(class_="form-control selectpicker",id="picker", autofocus=true,
                            required=true) }}
                            {% endif %}
                        </div>
                        {{ render_field(form.total) }}
                        <div class="form-group">
                            {% if class_info is defined and class_info is not none %}
                            {{ form.total(class_="form-control", value=class_info.total, autofocus=true, required=true)
                            }}
                            {% else %}
                            {{ form.total(class_="form-control", placeholder="10", autofocus=true, required=true) }}
                            {% endif %}
                        </div>
                        {{ render_field(form.interval) }}
                        <div class="form-group">
                            {% if class_info is defined and class_info is not none %}
                            {{ form.interval(class_="form-control", value=class_info.interval, autofocus=true, required=true)
                            }}
                            {% else %}
                            {{ form.interval(class_="form-control", placeholder="5", value="5", autofocus=true, required=true) }}
                            {% endif %}
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="提交"/>
                            </div>
                            <div class="col-md-6">
                                <input type="button" class="btn btn-lg btn-warning btn-block"
                                       onclick="history.back();" value="后退"/>
                            </div>
                        </div>
                        {{ form.csrf_token }}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{  super() }}
<!-- Latest compiled and minified JavaScript -->
<script type=text/javascript
        src="{{url_for('static', filename='vendor/bootstrap-select/js/bootstrap-select.min.js')}}"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script type=text/javascript
        src="{{url_for('static', filename='vendor/bootstrap-select/js/i18n/defaults-zh_CN.min.js')}}"></script>
<script type=text/javascript
        src="{{url_for('static', filename='vendor/bootstrap-select/js/i18n/defaults-en_US.min.js')}}"></script>

<script type=text/javascript
        src="{{url_for('static', filename='vendor/bootstrap-timepicker/js/bootstrap-timepicker.min.js')}}"></script>


<script type=text/javascript>
    $('#begin').timepicker({
        showMeridian: false,
        showInputs: false,
        disableFocus: true
    }).on('changeTime.timepicker', function (e) {
        this.value = e.time.value;
    });
    ;
    $('#end').timepicker({
        showMeridian: false,
        showInputs: false,
        disableFocus: true
    }).on('changeTime.timepicker', function (e) {
        this.value = e.time.value;
    });

    {% if class_info is defined and class_info is not none %}
    $('#picker').selectpicker("val", {{ class_info.days_of_week }}).attr("multiple", true);
    {% endif %}

    function updateClass() {
        var form = $("#form"), url = form.attr('action');
        form.submit(function (event) {
            /* stop form from submitting normally */
            event.preventDefault();
        });
        if ($('#picker').val() != null) {
            $.ajax({
                url: url,
                type: 'PUT',
                data: form.serialize(),
                success: function (data) {
                    console.log(data);
                }
            });
        }

    }

</script>

{% endblock %}