{% extends "base.html" %}
{% from "utils.html" import flash_message %}
{% from "utils.html" import render_field %}

{% block title %}国子监-编辑课程{% endblock %}

{% block styles %}
{{ super() }}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-select/css/bootstrap-select.min.css')}}">
<link rel="stylesheet"
      href="{{url_for('static', filename='vendor/bootstrap-timepicker/css/bootstrap-timepicker.min.css')}}">
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {% if class_info is none %}
                        填写课程信息
                        {% else %}
                        修改课程信息
                        {% endif %}
                    </h3>
                </div>
                {{ flash_message() }}
                <div class="panel-body">
                    <form role="form" method="post" action="{{ url_for('class_') }}">
                        {% if class_info is not none %}
                        <input type="hidden" name="_method" value="PUT">
                        {% endif %}
                        <fieldset>
                            {{ render_field(form.name) }}
                            <div class="form-group">
                                {% if class_info is none %}
                                {{ form.name(class_="form-control",
                                placeholder="数学课",
                                autofocus=true, required=true) }}
                                {% else %}
                                {{ form.name(class_="form-control",
                                value=class_info.name,
                                autofocus=true, required=true) }}
                                {% endif %}
                            </div>
                            {{ render_field(form.begin) }}
                            <div class="form-group">
                                {% if class_info is none %}
                                {{ form.begin(class_="form-control",id="timepicker", placeholder="08:00",
                                autofocus=true, required=true) }}
                                {% else %}
                                {{ form.begin(class_="form-control",id="timepicker", value=class_info.begin,
                                autofocus=true, required=true) }}
                                {% endif %}
                                <div class="input-group bootstrap-timepicker timepicker">
                                    <input id="timepicker" type="text" class="form-control input-small"
                                           data-provide="timepicker"
                                           data-show-meridian="false">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                </div>
                            </div>
                            {{ render_field(form.end) }}
                            <div class="form-group">
                                {% if class_info is none %}
                                {{ form.end(class_="form-control",
                                placeholder="10:00",
                                autofocus=true, required=true) }}
                                {% else %}
                                {{ form.end(class_="form-control",
                                value=class_info.end, autofocus=true, required=true) }}
                                {% endif %}
                            </div>
                            {{ render_field(form.days_of_week) }}
                            <div class="form-group">
                                {% if class_info is none %}
                                {{ form.days_of_week( autofocus=true, required=true) }}
                                {% else %}
                                {{ form.days_of_week( autofocus=true, required=true) }}
                                {% endif %}
                            </div>
                            {{ render_field(form.total) }}
                            <div class="form-group">
                                {% if class_info is none %}
                                {{ form.total(class_="form-control",
                                placeholder="10",
                                autofocus=true, required=true) }}
                                {% else %}
                                {{ form.total(class_="form-control",
                                value=class_info.total,
                                autofocus=true, required=true) }}
                                {% endif %}
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="submit" class="btn btn-lg btn-success btn-block" value="提交"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="button" class="btn btn-lg btn-info btn-block"
                                           onclick="history.back();" value="后退"/>
                                </div>
                            </div>
                            {{ form.csrf_token }}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{  super() }}
<!-- Latest compiled and minified JavaScript -->
<script type=text/javascript
        src="{{url_for('static', filename='vendor/bootstrap-select/js/bootstrap-select.min.js')}}"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script type=text/javascript
        src="{{url_for('static', filename='vendor/bootstrap-select/js/i18n/defaults-zh_CN.min.js')}}"></script>
<script type=text/javascript
        src="{{url_for('static', filename='vendor/bootstrap-select/js/i18n/defaults-en_US.min.js')}}"></script>

<script type=text/javascript
        src="{{url_for('static', filename='vendor/bootstrap-timepicker/js/bootstrap-timepicker.min.js')}}"></script>

{% endblock %}