{% extends "base.html" %}

{% block title %}国子监-课程列表{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-table/bootstrap-table.css')}}">
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> 课程列表
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="table" class="table table-bordered table-hover table-striped" data-toggle="table"
                           data-search="true" data-striped="true" data-page-size="10" data-page-list="[10]"
                           data-side-pagination="server" data-ajax="loadClass" data-pagination="true">
                        <thead>
                        <tr>
                            <th data-field="id">Id</th>
                            <th data-field="name">Name</th>
                            <th data-field="begin">Begin</th>
                            <th data-field="end">End</th>
                            <th data-field="days_of_week">Day Of Week</th>
                            <th data-field="total">Total</th>
                            <th data-field="interval">Interval</th>
                            <th data-field="update" data-align="center" data-formatter="initUpdate" data-events="updateEvent">Update</th>
                            <th data-field="delete" data-align="center" data-formatter="initDelete" data-events="deleteEvent">Delete</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{  super() }}
<script type=text/javascript src="{{url_for('static', filename='vendor/bootstrap-table/bootstrap-table.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/classloader.js')}}"></script>

{% endblock %}