{% extends "base.html" %}
{% from "utils.html" import flash_message %}

{% block title %}国子监-首页{% endblock %}

{% block styles %}
{{ super() }}
<!-- Morris Charts CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='morrisjs/morris.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/guozijian.css')}}">
{% endblock %}

{% block page_content %}
<div class="row row-eq-height">
    <div class="col-lg-10">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-default vertical-center" onclick="snapshot()">Snapshot</button>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
                <div class="pull-right">
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>3326</td>
                                    <td>10/21/2013</td>
                                    <td>3:29 PM</td>
                                    <td>$321.33</td>
                                </tr>
                                <tr>
                                    <td>3325</td>
                                    <td>10/21/2013</td>
                                    <td>3:20 PM</td>
                                    <td>$234.34</td>
                                </tr>
                                <tr>
                                    <td href="baidu.com">3324</td>
                                    <td>10/21/2013</td>
                                    <td>3:03 PM</td>
                                    <td>$724.17</td>
                                </tr>
                                <tr>
                                    <td>3323</td>
                                    <td>10/21/2013</td>
                                    <td>3:00 PM</td>
                                    <td>$23.71</td>
                                </tr>
                                <tr>
                                    <td>3322</td>
                                    <td>10/21/2013</td>
                                    <td>2:49 PM</td>
                                    <td>$8345.23</td>
                                </tr>
                                <tr>
                                    <td>3321</td>
                                    <td>10/21/2013</td>
                                    <td>2:23 PM</td>
                                    <td>$245.12</td>
                                </tr>
                                <tr>
                                    <td>3320</td>
                                    <td>10/21/2013</td>
                                    <td>2:15 PM</td>
                                    <td>$5663.54</td>
                                </tr>
                                <tr>
                                    <td>3319</td>
                                    <td>10/21/2013</td>
                                    <td>2:13 PM</td>
                                    <td>$943.45</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.col-lg-4 (nested) -->
                    <div class="col-lg-8">
                        <div id="morris-bar-chart"></div>
                    </div>
                    <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
<div class="row row-eq-height">
    <div class="col-lg-3 col-md-3">
        <div class="panel panel-default panel-eq-height">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> List Example
            </div>
            <div>
                <div class="list-group">
                    <a href="#" class="list-group-item">Action</a>
                    <a href="#" class="list-group-item">Another action</a>
                    <a href="#" class="list-group-item">Something else here</a>
                    <a href="#" class="list-group-item">Separated link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default panel-eq-height">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Image Example
            </div>
            <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/28536"
                 class="img-responsive img-rounded fixed-img"/>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <div class="col-lg-3 col-md-">
        <div class="panel panel-default panel-eq-height">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
            </div>
            <div id="morris-donut-chart"></div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                <div class="pull-right">
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-area-chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
<!-- /.row -->
<!-- /.row -->
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Morris Charts JavaScript -->
<script type=text/javascript src="{{url_for('static', filename='raphael/raphael.min.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='morrisjs/morris.min.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='data/morris-data.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/guozijian.js')}}"></script>
{% endblock scripts %}
