{% extends "base.html" %}
{% from "utils.html" import flash_message %}

{% block title %}国子监-首页{% endblock %}

{% block styles %}
{{ super() }}
<!-- Morris Charts CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='vendor/morrisjs/morris.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/guozijian.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-table/bootstrap-table.css')}}">
{% endblock %}

{% block page_content %}
<div class="row row-eq-height">
    <div class="col-lg-10">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-default vertical-center" onclick="snapshot()">Snapshot</button>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Image Example
            </div>
            <div class="panel-body">
                <div class="row row-eq-height">
                    <div class="col-lg-5 col-md-5">
                        <div class="table-responsive">
                            <table id="table" class="table table-bordered table-hover table-striped" data-toggle="table"
                                   data-search="true" data-striped="true" data-page-size="10" data-page-list="[10]"
                                   data-side-pagination="server" data-ajax="loadCounts" data-pagination="true"
                                   data-query-params="queryParams">
                                <thead>
                                <tr>
                                    <th data-field="id">Id</th>
                                    <th data-field="name">Name</th>
                                    <th data-field="taken_at">Time</th>
                                    <th data-field="count">Counts</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <img id="gallery" src="{{ counts[0].uri }}"
                             class="img-responsive img-rounded fixed-img"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
                <div class="pull-right">
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="row row-eq-height">
                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-default panel-eq-height">
                        <div id="morris-donut-chart"></div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-lg-8">
                    <div id="morris-bar-chart"></div>
                </div>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 (nested) -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>过去3天的统计
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-area-chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
<!-- /.row -->
<!-- /.row -->
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Morris Charts JavaScript -->
<script type=text/javascript src="{{url_for('static', filename='vendor/raphael/raphael.min.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='vendor/morrisjs/morris.min.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='vendor/bootstrap-table/bootstrap-table.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='data/morris-data.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/guozijian.js')}}"></script>
{% endblock scripts %}
