{% extends "base.html" %}
{% from "utils.html" import flash_message %}

{% block title %}国子监-首页{% endblock %}

{% block styles %}
{{ super() }}
<!-- Morris Charts CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='vendor/morrisjs/morris.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/guozijian.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-table/bootstrap-table.css')}}">
{% endblock %}

{% block page_content %}
<div class="row row-eq-height">
    <div class="col-lg-10">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-default vertical-center" onclick="snapshot()">Snapshot</button>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row row-eq-height">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>一周内统计
                <div class="pull-right">
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="row row-eq-height">
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-default panel-eq-height">
                        <div id="morris-bar-chart"></div>
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default panel-eq-height">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 (nested) -->
</div>

<div class="row row-eq-height">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>历史统计
                <div class="pull-right">
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="row row-eq-height">
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-default panel-eq-height">
                        <div id="history-bar-chart"></div>
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default panel-eq-height">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="history-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 (nested) -->
</div>
<!-- /.row -->
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Morris Charts JavaScript -->
<script type=text/javascript src="{{url_for('static', filename='vendor/raphael/raphael.min.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='vendor/morrisjs/morris.min.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='vendor/bootstrap-table/bootstrap-table.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/morris.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/index.js')}}"></script>

<script type=text/javascript>
    $(document).ready(function () {
        var params = {};
        var begin = new Date();
        begin.setDate(begin.getDate() - 7);
        params['begin'] = begin.getTime() / 1000;
        params['offset'] = -1;
        params['limit'] = -1;
        loadIndex(params);
    });
</script>
{% endblock scripts %}
