{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% from "utils.html" import flash_message %}

{% block title %}国子监-登录{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index">国子监</a>
    </div>
    <div class="nav navbar-top-links navbar-right">
        <li>
            <a href="register"><i class="fa fa-sign-out fa-fw"></i> Register</a>
        </li>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                {{ flash_message() }}
                <div class="panel-body">
                    <form role="form" method="post" action="{{ url_for('login') }}">
                        <fieldset>
                            {{ form.username.label }}
                            <div class="form-group">
                                {{ form.username(class_="form-control", placeholder="User Name", autofocus=true, required=true) }}
                            </div>
                            {{ form.passwd.label }}
                            <div class="form-group">
                                {{ form.passwd(class_="form-control", required=true) }}
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            {{ form.csrf_token }}
                            <!-- Change this to a button or input when using this as a form -->
                            <input type="submit" class="btn btn-lg btn-success btn-block"/>
                            {{ form.csrf_token }}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
