{% extends "base.html" %}
{% from "utils.html" import flash_message %}

{% block title %}国子监-监测详情{% endblock %}

{% block styles %}
{{ super() }}
<!-- Morris Charts CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='vendor/morrisjs/morris.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/guozijian.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-table/bootstrap-table.css')}}">
{% endblock %}

{% block page_content %}
<div class="row row-eq-height">
    <div class="col-lg-10 col-md-10 col-xs-10">
        <h1 class="page-header">统计信息</h1>
    </div>
    <!--<div class="col-lg-2">-->
        <!--<button type="button" class="btn btn-default vertical-center" onclick="snapshot({{class_id}})">拍照</button>-->
    <!--</div>-->
    <!-- /.col-lg-12 -->
</div>
<div id = "alert_placeholder"></div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>统计信息
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-xs-12">
                        <div class="table-responsive" id="img_list">
                            <table id="table" class="table table-responsive table-bordered table-hover table-striped" data-toggle="table"
                                   data-search="true" data-striped="true" data-page-size="10" data-page-list="[10]"
                                   data-query-params="statistic_param" data-side-pagination="server"
                                   data-ajax="loadCounts"
                                   data-pagination="true">
                                <thead>
                                <tr>
                                    <th data-field="id">序号</th>
                                    <th data-field="name">文件名</th>
                                    <th data-field="taken_at">时间</th>
                                    <th data-field="count">识别数目</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <div class="col-lg-7 col-md-7 col-xs-12">
                        <img id="gallery"
                             {% if count is not none %}
                             src="{{ count.uri }}"
                             {% endif %}
                             class="img-responsive img-rounded fixed-img"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>统计图表
                <div class="pull-right">
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                        <div id="morris-donut-chart"></div>
                    <!-- /.panel -->
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div id="morris-bar-chart"></div>
                </div>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 (nested) -->
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>过去3天的统计
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-area-chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
<!-- /.row -->
<!-- /.row -->
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Morris Charts JavaScript -->
<script type=text/javascript src="{{url_for('static', filename='vendor/raphael/raphael.min.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='vendor/morrisjs/morris.min.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='vendor/bootstrap-table/bootstrap-table.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/morris.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/guozijian.js')}}"></script>
<script type=text/javascript>
    var total = {{ total }};
    function statistic_param(params) {
        params['class'] = {{ class_id }};
        return params;
    }
</script>
{% endblock scripts %}
