.fixed-img {
    width: 100%;
    height: auto;
    max-height: 520px;
}

.panel-margin {
    margin-bottom: 20px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.panel-eq-height {
    position: relative;
    margin-bottom: inherit;
    height: 100%;
}

.vertical-center {
    position: absolute;
    top: 30%;
}

.bottom-aligned {
    position: absolute;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.pull-left, .pagination-detail {
    display: none;
}

.zoomImage{
    max-height: 480px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}