.fixed-img {
    width: 100%;
    height: auto;
}

.panel-margin {
    margin-bottom: 20px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.panel-eq-height {
    margin-bottom: inherit;
    height: 100%;
}


