{% extends "base.html" %}
{% from "utils.html" import flash_message %}

{% block title %}天网-首页{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/guozijian.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-table/bootstrap-table.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-select/css/bootstrap-select.min.css')}}">
{% endblock %}

{% block page_content %}
<div class="row row-eq-height">
    <div class="col-lg-10 col-md-10 col-xs-12">
        <h1 class="page-header">首页-控制面板</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row" align="center">
    <img id="bg" src="/static/img/floor-{{cam}}.png" class="zoomImage">
</div>
<div class="row" align="center">
    <div class="col col-md-2">
        <select class="selectpicker" id="selector">
            <option value="1">监控1</option>
            <option value="2">监控2</option>
            <option value="3">监控3</option>
            <option value="4">监控4</option>
            <option value="5">监控5</option>
        </select>
    </div>
    <div class="col col-md-10">
        <video id="video" controls="controls" style="height: 320px; float: left">
            <source id="videosource" src="/static/video/1.mp4?t={{now}}"/>
        </video>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type=text/javascript
        src="{{url_for('static', filename='vendor/bootstrap-select/js/bootstrap-select.min.js')}}"></script>
<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script type=text/javascript
        src="{{url_for('static', filename='vendor/bootstrap-select/js/i18n/defaults-zh_CN.min.js')}}"></script>
<script type=text/javascript
        src="{{url_for('static', filename='vendor/bootstrap-select/js/i18n/defaults-en_US.min.js')}}"></script>

<script type=text/javascript>
    $(function () {
        var selector = $('#selector');
        var video = document.getElementById("video");
        var source = document.getElementById("videosource");
        var img = document.getElementById("bg");
        selector.on('changed.bs.select', function (ev) {
            video.pause();
            source.src = "/static/video/" + selector.val() + ".mp4?t=" + $.now();
            img.src="/static/img/floor-" + selector.val() + ".png?t=" + $.now();
            video.load();
            video.play();
        });
    });
</script>
{% endblock scripts %}
