{% extends "base.html" %}
{% from "utils.html" import flash_message %}

{% block title %}国子监-首页{% endblock %}

{% block styles %}
{{ super() }}
<!-- Morris Charts CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='vendor/morrisjs/morris.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/guozijian.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-table/bootstrap-table.css')}}">
{% endblock %}

{% block page_content %}
<div class="row row-eq-height">
    <div class="col-lg-10 col-md-10 col-xs-12">
        <h1 class="page-header">首页-控制面板</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}
