{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}人人搜-人员搜索{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/guozijian.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-table/bootstrap-table.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendor/cropperjs/cropper.css')}}">
<style>
    img {
        max-width: 100%;
    }

    col {
        float: left;
    }

    .img-container,
    .img-preview {
        background-color: #f7f7f7;
        text-align: center;
        width: 100%;
    }

    .img-container {
        margin-bottom: 1rem;
        max-height: 497px;
        min-height: 200px;
    }

    @media (min-width: 768px) {
        .img-container {
            min-height: 497px;
        }
    }

    .img-container > img {
        max-width: 100%;
    }

    .docs-preview {
        margin-right: -1rem;
    }

    .img-preview {
        float: left;
        margin-bottom: .5rem;
        margin-right: .5rem;
        overflow: hidden;
    }

    .img-preview > img {
        max-width: 100%;
    }

    .preview-lg {
        height: 9rem;
        width: 16rem;
    }
</style>
{% endblock %}

{% block page_content %}
<div class="row row-eq-height">
    <div class="col-lg-10 col-md-10 col-xs-10">
        <h1 class="page-header">搜索人员</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!--{{url_for('static', filename='img/default.png')}}-->
<div id="alert_placeholder"></div>
<div class="container" style="float: left">
    <div class="row" id="actions">
        <div class="col-lg-10 col-md-10 col-xs-10">
            <div class="btn-group">
                <label class="btn btn-primary btn-upload" for="inputImage" title="选择搜索人员">
                    <input type="file" class="sr-only" id="inputImage" name="file"
                           accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                    <span class="docs-tooltip" data-toggle="tooltip" title="选择搜索人员">
              <span class="fa fa-upload"></span>
            </span>
                </label>
                <button type="button" class="btn btn-primary" id="upload" data-method="upload" title="上传图片">
            <span class="docs-tooltip" data-toggle="tooltip" title="上传图片">
              <span class="fa fa-check"></span>
            </span>
                </button>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-9">
            <div class="img-container">
                <img src="{{url_for('static', filename='img/default.png')}}" alt="Picture">
            </div>
        </div>
        <div class="col col-md-3">
            <div class="docs-preview clearfix">
                <div class="img-preview preview-lg"></div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">

    window.onload = function () {
        'use strict';
        var container = document.querySelector('.img-container');
        var image = container.getElementsByTagName('img').item(0);
        var inputImage = document.getElementById('inputImage');
        var upload = document.getElementById('upload');

        var options = {
            preview: '.img-preview',
        };

        var cropper = new Cropper(image, options);
        inputImage.onchange = function () {
            var files = this.files;
            var file;
            var uploadedImageURL;

            if (cropper && files && files.length) {
                file = files[0];

                if (/^image\/\w+/.test(file.type)) {

                    if (uploadedImageURL) {
                        URL.revokeObjectURL(uploadedImageURL);
                    }

                    image.src = uploadedImageURL = URL.createObjectURL(file);
                    cropper.destroy();
                    cropper = new Cropper(image, options);
                    inputImage.value = null;
                } else {
                    window.alert('请选择一个图片文件');
                }
            }
        };

        upload.onclick = function () {
            var img = cropper.getCroppedCanvas().toDataURL('image/png').replace('data:image/png;base64,', '');
            var url = '/upload';
            var data = {
                action: "add",
                picStr: img
            };
            $.ajax(url, {
                type: 'post',
                data: data,
                success: function (data) {
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
    };
</script>
<script src="{{url_for('static', filename='vendor/cropperjs/cropper.js')}}"></script>
{% endblock scripts %}
