{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}天网-搜索{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/guozijian.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-table/bootstrap-table.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendor/cropperjs/cropper.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-select/css/bootstrap-select.min.css')}}">
<style>
    img {
        max-width: 100%;
    }

    col {
        float: left;
    }

    .img-container,
    .img-preview {
        background-color: #f7f7f7;
        text-align: center;
        width: 100%;
    }

    .img-container {
        margin-bottom: 1rem;
        max-height: 320px;
        min-height: 200px;
    }

    @media (min-width: 768px) {
        .img-container {
            min-height: 320px;
        }
    }

    .img-container > img {
        max-width: 100%;
    }

    .docs-preview {
        margin-right: -1rem;
    }

    .img-preview {
        float: left;
        margin-bottom: .5rem;
        margin-right: .5rem;
        overflow: hidden;
    }

    .img-preview > img {
        max-width: 100%;
    }

    .preview-lg {
        height: 10rem;
        width: 16rem;
    }
</style>
{% endblock %}

{% block page_content %}
<div class="row row-eq-height">
    <div class="col-lg-10 col-md-10 col-xs-10">
        <h1 class="page-header">搜索</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!--{{url_for('static', filename='img/default.png')}}-->
<div class="row">
    <div class="col col-md-3">
        <select class="selectpicker" id="selector">
            <option value="1">监控1</option>
            <option value="2">监控2</option>
            <option value="3">监控3</option>
            <option value="4">监控4</option>
            <option value="5">监控5</option>
        </select>
    </div>
    <div class="col col-md-9">
        <video id="video" controls="controls" style="height: 320px">
            <source id="videosource" src="{{url_for('static', filename='video/1.mp4')}}"/>
        </video>
    </div>
</div>
<div class="row" id="actions">
    <div class="col-lg-3 col-md-3 col-xs-3">
        <div class="btn-group">
            <label class="btn btn-primary" id="capture" data-method="capture" title="选择当前帧">
                    <span class="docs-tooltip" data-toggle="tooltip" title="选择当前帧">
                        <span class="fa fa-crop"></span>
                    </span>
            </label>
            <label class="btn btn-primary btn-upload" for="inputImage" title="选择搜索目标">
                <input type="file" class="sr-only" id="inputImage" name="file"
                       accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff"/>
                <span class="docs-tooltip" data-toggle="tooltip" title="选择搜索目标">
                        <span class="fa fa-upload"></span>
                    </span>
            </label>
            <label class="btn btn-primary" id="upload" data-method="upload" title="上传图片">
                    <span class="docs-tooltip" data-toggle="tooltip" title="上传图片">
                        <span class="fa fa-check"></span>
                    </span>
            </label>
        </div>
    </div>
    <div class="col col-md-6">
        <div class="img-container">
            <img src="{{url_for('static', filename='img/default.png')}}" alt="图像">
        </div>
    </div>
    <div class="col col-md-3">
        <div class="docs-preview clearfix">
            <div class="img-preview preview-lg"></div>
        </div>
    </div>
</div>
<!-- /.row -->
{% endblock %}

{% block scripts %}
{{ super() }}
<script type=text/javascript
        src="{{url_for('static', filename='vendor/bootstrap-select/js/bootstrap-select.min.js')}}"></script>
<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script type=text/javascript
        src="{{url_for('static', filename='vendor/bootstrap-select/js/i18n/defaults-zh_CN.min.js')}}"></script>
<script type=text/javascript
        src="{{url_for('static', filename='vendor/bootstrap-select/js/i18n/defaults-en_US.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/cropperjs/cropper.js')}}"></script>
<script type="text/javascript">
    window.onload = function () {
        'use strict';
        var container = document.querySelector('.img-container');
        var image = container.getElementsByTagName('img').item(0);
        var inputImage = document.getElementById('inputImage');
        var upload = document.getElementById('upload');

        var options = {
            preview: '.img-preview',
        };

        var cropper = new Cropper(image, options);
        inputImage.onchange = function () {
            var files = this.files;
            var file;
            var uploadedImageURL;

            if (cropper && files && files.length) {
                file = files[0];

                if (/^image\/\w+/.test(file.type)) {

                    if (uploadedImageURL) {
                        URL.revokeObjectURL(uploadedImageURL);
                    }

                    image.src = uploadedImageURL = URL.createObjectURL(file);
                    cropper.destroy();
                    cropper = new Cropper(image, options);
                    inputImage.value = null;
                } else {
                    window.alert('请选择一个图片文件');
                }
            }
        };

        upload.onclick = function () {
            var img = cropper.getCroppedCanvas().toDataURL('image/png').replace('data:image/png;base64,', '');
            var url = '/upload';
            var data = {
                action: "add",
                picStr: img
            };
            $.ajax(url, {
                type: 'post',
                data: data,
                success: function (data) {
                    console.log(data)
                    if (data.status == 'ok') {
                        window.location.replace("{{url_for('status')}}");
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }

        var video = document.getElementById("video");
        var capture = document.getElementById('capture');
        capture.onclick = function () {
            video.pause()
            var canvas = document.createElement("canvas");
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d')
                .drawImage(video, 0, 0, canvas.width, canvas.height);
            image.src = canvas.toDataURL();
            cropper.destroy();
            cropper = new Cropper(image, options);

        };


        var selector = $('#selector');
        var source = document.getElementById("videosource");
        selector.on('changed.bs.select', function (ev) {
            video.pause();
            source.src = "/static/video/" + selector.val() + ".mp4";
            video.load();
        });
    };
</script>
{% endblock scripts %}
